/*
 * http://danielstern.ca/range.css
 * Style: Bootstrap
 */


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border: 0.2px solid #010101;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 4px;
  padding-left: 4px;


  background: #eff0ff;
  outline: none;
  opacity: 0.6;
  height: 28px;
  border-radius: 13px; 
  -webkit-transition: .5s;
  transition: opacity .2s;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  opacity: 0.8;
  -webkit-appearance: none;
  appearance: searchfield;
  width: 18px;
  height: 18px;
  margin-top:5px;
  border-radius: 50%; 
  background: #9b9dff;
  cursor: pointer;
}